body{
    background-image: url(../images/hristo-marinski-Q8bHcMA8sI4-unsplash.jpg);
    background-repeat: no-repeat;
    color:white;
    height:100vh;
    width: 100vw;
    background-size:cover;
}